{% extends 'home.html' %}


{% block title %}

  {% if object %}
    Update {{ object }}
  {% else %}
    Add new Element
  {% endif %}

{% endblock title %}


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% include 'form_snippet.html' %}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Update Record">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Add new Element">
  {% endif %}
</form>


{% endblock content %}
