/* .navbar{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    /* background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%); */
/* }  */ */
.navbar-text{
    padding-left: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    -webkit-text-stroke-width: 0.1px; 
    -webkit-text-stroke-color: black; 
}
.light{
    color: #FFF8DC;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black; 
    /* color: #DDA0DD; */
}
.dark{
    color:hsl(0, 0%, 30%);
}
.home{
    padding-left: 50px;
    background-image: url("./images/bricks.jpg");
    background-color: black;
    height: 100vh;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: border-box;
    position: fixed;
    /* background-size: contain cover; */
    position: relative;
}

h1{
	font-size: 500%;
	font-weight: 700;
} 
.content-wrapper{
    background-color: #ffe7cc!important;
}

.bg-dark{
	background-color: #f88707!important;
}

.sidebar-dark-primary{
	background-color: #8f591c!important;
}
.brand-link{
    background-color: #6d3303c7!important;
}

.aside-nav{
    color: #b9a793;
}

.aside-nav :hover{
    color: #fff;
}


.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}


.footer{
    /* background: #162c3b; */
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    /* height: 60px; */
    line-height: 30px;
    background-color: #aca9a2;

}
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
@media (max-width: 1078px)
{
    .home{
        background-size: 100% 100%;
    }
    h1{
        font-size: 300%;
        font-weight: 600;
    } 
}
@media (max-width: 400px)
{
    .home{
        background-size: 100% 100%;
    }
    h1{
        font-size: 200%;
        font-weight: 600;
    } 
}
@media (max-width: 250px)
{
    .home{
        background-size: 100% 100%;
    }
    h1{
        font-size: 150%;
        font-weight: 600;
        padding-right: 46px;
    } 
}


/* @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}
.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}} */