{% extends 'home.html' %}

{% block title %}Teacher User List{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'create-teacher-user' %}"><i
    class="fas fa-plus"></i> Create Teacher User</a>
{% endblock breadcrumb %}

{% block content %}
<div class="table-responsive">
  <table id="stafftable" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>S/N</th>
        <th>Roll Number</th>
        <th>Email</th>
        
      </tr>
    </thead>
    <tbody>

      {% for teacher in object_list %}
        <tr>
          <td>{{ forloop.counter}}</td>
          <td>{{ teacher.user.username}}</td>
          <td>{{ teacher.user.email}}</td>
       
          
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock content %}


{% block morejs %}
<script>
   $('#stafftable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}
